.opsti_uslovi_putovanja {
  margin-top: 18%;
  background-color: #E0FFFF;
  padding: 2%;
  margin-bottom: 5%;
}

.kolone {
  border: 1px solid black;
}

#podaci {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

#prva_slika {
  margin-top: 14%;
}

.sadrzaj_pocetne {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.slike_pocetne_strane {
  z-index: 0;
  height: 259px;
  width: 362px;
}

.turisticki_pojmovi {
  margin-top: 14%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #E0FFFF;
}

li {
  list-style-type: none;
}

ul {
  display: inline-block;
}

.fa-certificate::before {
  color: orange;
}

.putno_osiguranje {
  margin-top: 14%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #E0FFFF;
}

.avio_karte {
  margin-top: 14%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #E0FFFF;
}

.o_nama {
  margin-top: 14%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #E0FFFF;
}

#o_nama_slika {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kontakt {
  margin-top: 14%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #E0FFFF;
}

html, body {
    overflow-x: hidden;
}

.mapouter {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  height: 100%;
}

#slika_kontakt {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tekst_kontakt {
  text-align: center;
}

.grcka {
  margin-top: 14%;
}

.grcka h1, h2, h4 {
  background-image: linear-gradient(to right, green, orange, blue);
  margin-bottom: 2px;
  text-align: center;
  text-shadow: 1px 1px;
  font-weight: bold;
  box-shadow: 10px 10px 5px;
  border-radius: 10px;
}

.grcka p {
  padding-top: 15px;
  margin-bottom: 2px;
  color: black;
  text-shadow: 0.5px 0.5px;
}

.flex-container {
  padding: 2%;
  color: black;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.flex-container img {
  height: 200px;
  width: 300px;
  border-radius: 20px;
}

.lista {
  border: 1px solid blue;
  border-radius: 22px;
  width: 302px;
  height: 280px;
  text-align: center;
  background-color: #E0FFFF;
  margin: 20px auto;
  margin-top: 5px;
  box-shadow: 10px 10px 5px;
}

.procitaj_vise {
  text-transform: none;
  color: blue;
}

.destinacija {
  margin-top: 14%;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #E0FFFF;
}

#sadrzaj_destinacije {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  margin: 20px;
}

#sadrzaj_destinacije img {
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 5px;
  border-radius: 10px;
  margin-right: 50px;
  float: left;
}

#sadrzaj_destinacije p::first-letter {
  float: left;
  font-size: 4em;
  line-height: 50px;
  color: orange;
}

#sadrzaj_destinacije h1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: darkblue;
  text-shadow: 1px 1px;
}

.tabela_cenovnika tr, th, td {
  border: 1px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.1em;
}

.tabela_cenovnika th {
  background-image: linear-gradient(to right, green, orange, blue);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  margin-top: 8%;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 300px){
  .modal-content {
    width: 100%;
  }
}


.leto {
  margin-top: 14% !important;
}

.leto h1 {
  background-image: linear-gradient(to right, green, orange, blue);
  margin-bottom: 2px;
  text-align: center;
  text-shadow: 1px 1px;
  font-weight: bold;
  box-shadow: 10px 10px 5px;
  border-radius: 10px;
}

.leto_zemlja {
  margin-top: 14% !important;
}

.leto_zemlja h1 {
  background-image: linear-gradient(to right, green, orange, blue);
  margin-bottom: 2px;
  text-align: center;
  text-shadow: 1px 1px;
  font-weight: bold;
  box-shadow: 10px 10px 5px;
  border-radius: 10px;
}

.metrople {
  margin-top: 14% !important;
}

.metrople h1 {
  background-image: linear-gradient(to right, green, orange, blue);
  margin-bottom: 2px;
  text-align: center;
  text-shadow: 1px 1px;
  font-weight: bold;
  box-shadow: 10px 10px 5px;
  border-radius: 10px;
}

.lista_metropola {
  border: 1px solid blue;
  border-radius: 22px;
  width: 302px;
  height: 310px;
  text-align: center;
  background-color: #E0FFFF;
  margin: 20px auto;
  margin-top: 5px;
  box-shadow: 10px 10px 5px;
}
