<div class="footer">
  <div class="footer_sadrzaj">
    <span class="text-primary">VAŽNO OBAVEŠTENJE!</span><br><br>
    <img src="../static/images/winer.jpg" alt="WIENER" id="wiener"><br><br>
    <p>Putno osiguranje se preporučuje za ulazak na teritoriju zemalja EU,<br>
      te putnici sami snose odgovornost da u slučaju neobezbedjenog putnog osiguranja ili na<br>
      osnovu slobodne procene graničnih vlasti, budu sprečeni da uđu na teritoriju istih.</p>
      <hr>
      <div class="srednji_sadrzaj_footera">
        <div class="container">
          <div class="row">
            <div class="col"><img src="../static/images/solle.png" alt="SOLLE"></div>
            <div class="col">
              <span class="text-primary">O NAMA</span><br>
              Podaci na našoj stranici su informativnog karaktera.
              Zvanični su samo štampani programi putovanja sa
              cenovnikom koji su sastavni deo opštih uslova putovanja i
              dostupni su u našoj agenciji.<br>
              Kontaktirajte nas: <a href="mailto:office@solle.co.rs">office@solle.co.rs</a>
            </div>
            <div class="col">
              <span class="text-primary">PRATITE NAS</span><br>
              <a href="https://www.facebook.com/turistickaagencija.solle/" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
            </div>
          </div>
        </div>
      </div>
</div>
  <div class="dno">
    © 2020. Turistička agencija Solle. Sva prava zadržana. Izrada sajta jovan.stankovic993@gmail.com
  </div>
</div>
