<nav class="navbar navbar-expand-md fixed-top-sm justify-content-start flex-nowrap bg-dark text-white navbar-dark">
    <ul class="navbar-nav flex-row">
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="/">Solle Početna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="Opšti_Uslovi_Putovanja/">Opšti Uslovi Putovanja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="#">Turistički Pojmovi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="#">Putno Osiguranje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="#">Avio Karte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="#">Kontakt</a>
        </li>
    </ul>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<nav class="navbar navbar-expand-md bg-light navbar-dark">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
        <ul class="navbar-nav">
            <li class="list-group-item bg-light">
                <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">Grčka</a>
                <ul class="dropdown-menu" role="menu" id="drop">
                    <li><i class="fas fa-certificate"></i><a class="text-white" href="#"> Kopno</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="#"> Ostrva</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Letovanje 2020</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Metropole</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Grčka Hoteli</a>
            </li>
            <li>
            <form class="form-inline my-2 my-lg-0" action="#">
              <input class="form-control mr-sm-2" type="text" name='q'>
              <button class="btn btn-warning my-2 my-sm-0" type="submit">Pretraga</button>
            </form>
            </li>
        </ul>
    </div>
</nav>
