<nav class="navbar navbar-expand-md fixed-top-sm justify-content-start flex-nowrap bg-dark text-white navbar-dark">
    <ul class="navbar-nav flex-row">
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="/">Solle Početna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="http://localhost:8000/Opšti_Uslovi_Putovanja/">Opšti Uslovi Putovanja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="http://localhost:8000/Turistički_Pojmovi/">Turistički Pojmovi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="http://localhost:8000/Putno_Osiguranje/">Putno Osiguranje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="http://localhost:8000/Avio_Karte/">Avio Karte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="http://localhost:8000/O_Nama/">O Nama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" href="http://localhost:8000/Kontakt/">Kontakt</a>
        </li>
    </ul>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<nav class="navbar navbar-expand-md bg-light navbar-dark">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
        <ul class="navbar-nav">
            <li class="list-group-item bg-light">
              <a class="text-white" href="http://localhost:8000/Grčka/">Grčka</a>
              <span class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"></span>
                <ul class="dropdown-menu" role="menu" id="drop">
                    <li><i class="fas fa-certificate"></i><a class="text-white" href="http://localhost:8000/Grčka/Kopno/"> Kopno</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Grčka/Ostrva/"> Ostrva</a></li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Grčka Hoteli</a>
            </li>
            <li class="list-group-item bg-light">
              <a class="text-white" href="http://localhost:8000/Leto/">Leto 2020</a>
              <span class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"></span>
                <ul class="dropdown-menu" role="menu" id="drop">
                    <li><i class="fas fa-certificate"></i><a class="text-white" href="http://localhost:8000/Leto/Bugarska/"> Bugarska</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Turska/"> Turska</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Crna Gora/"> Crna Gora</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Italija/"> Italija</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Egipat/"> Egipat</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Španija/"> Španija</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Kipar/"> Kipar</a></li>
                    <li><i class="fas fa-certificate"></i><a class=" text-white" href="http://localhost:8000/Leto/Tunis/"> Tunis</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="http://localhost:8000/Metropole/">Metropole</a>
            </li>
            <li>
            <form class="form-inline my-2 my-lg-0" action="#">
              <input class="form-control mr-sm-2" type="text" name='q'>
              <button class="btn btn-warning my-2 my-sm-0" type="submit">Pretraga</button>
            </form>
            </li>
        </ul>
    </div>
</nav>
