{% extends 'layout.html' %}

{% block naslov %}Solle{% endblock %}
{% block static %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'destinacija/style.css' %}">
{% endblock %}
{% block sadrzaj %}

<div class="leto">
  <h1>Leto 2020.</h1>

  <div class="flex-container">

    <div class="lista">
     <a href="http://localhost:8000/Leto/Bugarska/"><img class="img-responsive" src="../../static/images/bugarska.jpg" alt="Bugarska"></a><br>
     <a href="http://localhost:8000/Leto/Bugarska/"><p>Bugarska</p></a>
     <a href="http://localhost:8000/Leto/Bugarska/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Crna Gora/"><img class="img-responsive" src="../../static/images/crna-gora.jpg" alt="Crna Gora"></a><br>
     <a href="http://localhost:8000/Leto/Crna Gora/"><p>Crna Gora</p></a>
     <a href="http://localhost:8000/Leto/Crna Gora/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Egipat/"><img class="img-responsive" src="../../static/images/egipat.jpg" alt="Egipat"></a><br>
     <a href="http://localhost:8000/Leto/Egipat/"><p>Egipat</p></a>
     <a href="http://localhost:8000/Leto/Egipat/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Italija/"><img class="img-responsive" src="../../static/images/italija.jpg" alt="Italija"></a><br>
     <a href="http://localhost:8000/Leto/Italija/"><p>Italija</p></a>
     <a href="http://localhost:8000/Leto/Italija/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Kipar/"><img class="img-responsive" src="../../static/images/kipar.jpg" alt="Kipar"></a><br>
     <a href="http://localhost:8000/Leto/Kipar/"><p>Kipar</p></a>
     <a href="http://localhost:8000/Leto/Kipar/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Španija/"><img class="img-responsive" src="../../static/images/spanija.jpg" alt="Španija"></a><br>
     <a href="http://localhost:8000/Leto/Španija/"><p>Španija</p></a>
     <a href="http://localhost:8000/Leto/Španija/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Tunis/"><img class="img-responsive" src="../../static/images/tunis.jpg" alt="Tunis"></a><br>
     <a href="http://localhost:8000/Leto/Tunis/"><p>Tunis</p></a>
     <a href="http://localhost:8000/Leto/Tunis/" class="procitaj_vise">Pročitaj više...</a>
    </div>

    <div class="lista">
     <a href="http://localhost:8000/Leto/Turska/"><img class="img-responsive" src="../../static/images/turska.jpg" alt="Turska"></a><br>
     <a href="http://localhost:8000/Leto/Turska/"><p>Turska</p></a>
     <a href="http://localhost:8000/Leto/Turska/" class="procitaj_vise">Pročitaj više...</a>
    </div>

  </div>
</div>

{% endblock %}
