{% extends 'layout.html' %}

{% block naslov %}Solle{% endblock %}
{% block static %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'destinacija/style.css' %}">
{% endblock %}
{% block sadrzaj %}

<div class="putno_osiguranje">
  <div class="container">
    <div class="row">
      <div class="col" id='putno_osiguranje_slika'><img src="/../../../static/images/winer.jpg" alt="WIENER" height="300px"></div>
      <div class="col" id="putno_osiguranje_tekst"><b><i>U saradnji sa osiguravajućom kućom “Wiener Stadtische” vršimo prodaju putnog zdravstvenog osiguranja. Putno zdravstveno osiguranje za turistička putovanja iznosi EURO dnevno za odrasle, a POLA EURA za decu do 18 godina.</i></b></div>
    </div><br>
  </div>
</div>

{% endblock %}
